{% extends "base.html" %}

{% load materializecss %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <form method="post" class="accountform">
                {% csrf_token %}
                <h2>Reset Password</h2>
                <p><em>Please specify your email address</em></p> 
                <p><em>You will receive instructions to reset your password.</em></p>
                {{ form.email | materializecss}}
                <button class="btn waves-effect waves-light" type="submit" name="action">reset password<i class="material-icons right">send</i></button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
