body {
    background-color: #f4f4f4;
}

.card-panel {
    margin-top: 1.5rem;    
}

.section-title {
    margin-top: 0.5rem;
}


/* Navbar */

.sidenav-overlay {
    z-index: 995;
}

#main-nav {
    line-height: 64px;
    padding-right: 15px;
}

nav .brand-logo {
    padding-left: 10px;
    padding-right: 10px;
}

nav ul a {
    font-size: 1.1em;
}

.avatar-style {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: #eee;
    line-height: 45px;
}

.avatar-wrapper {
    padding-top: 9px;
}

.avatar-wrapper a {
    color: #00897b;
}

.avatar-wrapper a:hover {
    color:#eee;
}

.dropdown-content li a:hover {
    color:black;
}


/* Table */

th, td {
    padding: 8px;
}

.dataTables_length {
    height: 100%;  
    display: flex;
    align-items: flex-end;
}

.dataTables_length label{
    font-size: 14px;
    color: black;
}

.dataTables_length label select {
    width: auto;
    height: auto;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 2px;
    background-color: transparent; 
    font-size: 14px;
    display: inline-block;
}

#tasksTable {
    width: 100% !important;
}

.mdl-cell {
    margin-top: 0;    
}

.dateColStyle {
    min-width: 110px;
    white-space: nowrap;
}

.taskColStyle {
    min-width: 200px;
    padding-right: 1em;
}

.userColStyle {
    white-space: nowrap;
}

.descriptionStyle {
    min-width: 10000px;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.issueIconStyle {
    color: red;
}


/* Pagination buttons */

.mdl-button--raised.mdl-button--colored {
    background-color: #26a69a;
}

.mdl-button--raised.mdl-button--colored:hover {    
    background-color: #00897b;
}


/* Fixed/Action Button */

.fixed-action-btn {
    bottom: 2.75em; 
    right: 2.75em;
}

.btn-floating:hover {
    background-color: #00897b;
}

@media (max-width: 990px) {
  .fixed-action-btn {
    bottom: 1.25em; 
    right: 1.25em;
  }
}


/* Toasts */

.toast {
    font-weight: 500;
}


/* Drop down menu in each row of a Table */

.menu-dots {
    color: black;
}

.dropdown-content li>a {
    color: black; 
}

.dropdown-content {
    min-width: fit-content;
}


/* Select options in forms */
.select-wrapper li span {
    color: black;
}


/* Tabs */

.tabs .tab a {
  color: #26a69a;
}

.tabs .tab a:hover {
  background-color: #eee;
  color: #26a69a;
}

.tabs .tab a:focus.active {
  background-color: rgba(38, 166, 154, 0.2);
  color: #26a69a;
}

.tabs .tab a.active {
    color: #26a69a;
}

.tabs .indicator {
  background-color: #26a69a;
}
