{% extends 'base.html' %}

{% load materializecss %}

{% block page_title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <div class="row">
                    <div class="row col s12">
                        <h2 class="section-title">Change your Password</h2>
                    </div>
                    <div class="col s12">
                        <p><em>Please enter, and confirm, your new password.</em></p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form | materializecss }}
                            <div class="row col s12">                 
                                <button class="btn btn-secondary right" type="submit">Change Password<i class="material-icons right">send</i></button>
                                <a class="btn-flat waves-effect waves-light right" href="{% url 'profile' %}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
