{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h6 class="yellow-text text-darken-4" style="font-weight: 800;">THE EASYIEST WAY TO</h6>
            <h2 class="section-title">Organise yourself!</h2>
            <p style="font-weight: 500;"><em>With Tasking you can now organise your To-Do list in a simple way.</em></p>
            <ul>
                <li> &bull; Keep everything in a single place</li>
                <li> &bull; Quickly sort your tasks by importance, category or due date</li>
                <li> &bull; Use Tasking from any device</li>
            </ul>
            <br>
            <a class="waves-effect waves-light btn-large" style="border-radius:5px; font-weight: 500;" href="{% url 'registration' %}">Try it for Free!</a>
        </div>
    </div>
</div>
{% endblock%}
