{% extends 'base.html' %}

{% load materializecss %}

{% block page_title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <form method="POST">
                    <h2 class="section-title">Sign-Up!</h2>
                    <p>Already on Tasking? <a href="{% url 'login' %}">Sign in</a></p>
                    {% csrf_token %}
                    {{ registration_form | materializecss }}
                    <button class="btn btn-secondary" type="submit">Join Now<i class="material-icons right">send</i></button>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock%}
