{% extends 'base.html' %}

{% load materializecss %}

{% block page_title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <div class="row">
                    <div class="row col s12">
                        <h2 class="section-title">Sign-Up!</h2>
                        <p>Already on Tasking? <a href="{% url 'login' %}">Sign in</a></p>
                    </div>
                    <div class="col s12">
                        <form method="POST">
                            {% csrf_token %}
                            {{ registration_form | materializecss }}
                            <div class="row col s12">
                                <br>
                                <button class="btn btn-secondary right" type="submit">Join Now<i class="material-icons right">send</i></button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
