{% extends "base.html" %}

{% block title %}Not Found{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <div class="row">
                    <div class="row col s12">
                        <h2 class="section-title">Unexpected Error</h2>
                    </div>
                    <div class="col s12">
                        <h5><em>Something went wrong.</em></h5>
                        <p style="font-weight: 500;">A good time for a break, while we fix the issue</p>
                        <p>Or you can go back to our <a href="{% url 'index' %}">Home page</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}